<!-- Botón para abrir menú (solo móvil) -->
<button class="btn btn-outline-primary d-lg-none mb-3 " 
        type="button" 
        data-bs-toggle="offcanvas" 
        data-bs-target="#sidebarMenu" 
        aria-controls="sidebarMenu">
  <i class="bi bi-list"></i>
</button>

<!-- Sidebar -->
<div class="offcanvas-lg offcanvas-start y-max" tabindex="-1" id="sidebarMenu">
  <div class="offcanvas-header">
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
  </div>
  <div class="offcanvas-body p-3 border-end">
    
    <ul class="nav flex-column">
      <li>
        <h5 class="mb-4">
      <img src="assets/logo.png" alt="Logo" class="img-fluid">
    </h5>
      </li>
      <li class="nav-item mb-2">
        <a class="nav-link active text-primary fw-bold" routerLink="/clientes">Clients</a>
      </li>
      <li class="nav-item mb-2">
        <a class="nav-link" href="#">Client look history</a>
      </li>
      <li class="nav-item mb-2">
        <a class="nav-link" href="#">Emergency PIN configuration</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Emergency PIN history</a>
      </li>
    </ul>
  </div>
</div>
